.containerr{
    display: flex;
    background-color: #f8f8f8;
    border-radius: 5px;
    padding: 0.8em;
    align-items: center;
    margin-bottom: 1em;
    height: 50vh;

    display: flex;
    align-items: start;
    justify-content: center;
    
  }